:root{
    --primary: #D81E5B;
    --secondary: #8A4FFF;
    --grey: #aaa;
    --light: #eee;
    --dark: #131a26;
}

*{
    box-sizing: border-box;
    margin: 0;


    font-family: 'Fira sans', sans-serif;
}

body{
    background-color: var(--light);
}

/* main{
    /* padding: 3rem 2rem;
    max-width: 640px;
    margin: 0 auto; */
/* } */ */

h2{
    color: var(--secondary);
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    grid-row: 2 / 3;
}

p{
    color: var(--grey);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.counter{
    background-color: var(--dark);
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-rows: repeat(4 , 5rem);
}

.counter-value{
    font-size: 4rem;
    font-weight: 700;
    align-self: center;

    grid-row: 3 / 5;
}

.counter-controls{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -0.5rem;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    position: absolute;
    bottom: 4px;
    right: 10px;
    /* grid-column: 10 / 11;
    grid-row: 10 / 11; */
}
.counter-controls button{
    margin: 0 0.5rem;
}

button{
    appearance: none;
    background: none;
    border: none;
    outline: none;

    color: var(--primary);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: 0.4s ease-out;
}

button span{
    display: block;
    transition: 0.4s ease-out;
}

#reset{
    color: white;
    opacity: 0.5;
}

#reset:hover{
     opacity: 1;
}

#save{
    opacity: 0.7;
}

#save:hover{
    opacity: 1;
}

button:active {
    transform: scale(1.1);
}

.setValue {
    margin-top: 2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.setValue button {
    color: var(--dark);
}

/* .grid-container {
    background-color: pink;

    width: 20rem;
    height: 20rem;

    display: grid;
    grid-template-columns: repeat(10, 3rem ) ;
    grid-template-rows: repeat(10, 3rem );
} */

.no-text-select {
    user-select: none;
}

#selector {
   background-color: var(--dark);
   color: var(--secondary); 
}

.card1 {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: relative;
}

.card2 {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card3 {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card4 {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#header {
    color: var(--secondary);
    background-color: none;

}