:root{
    --primary: #D81E5B;
    --secondary: #8A4FFF;
    --grey: #aaa;
    --light: #eee;
    --dark: #131a26;
}

*{
    box-sizing: border-box;
    margin: 0;


    font-family: 'Fira sans', sans-serif;
}

body{
    background-color: var(--light);
}

main{
    padding: 3rem 2rem;
    max-width: 640px;
    margin: 0 auto;
}

h2{
    color: var(--secondary);
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p{
    color: var(--grey);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.counter{
    background-color: var(--dark);
    padding: 1rem;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.counter-value{
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
}

.counter-controls{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -0.5rem;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    grid-column: 10 / 11;
    grid-row: 10 / 11;
}
.counter-controls button{
    margin: 0 0.5rem;
}

button{
    appearance: none;
    background: none;
    border: none;
    outline: none;

    color: var(--primary);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: 0.4s ease-out;
}

button span{
    display: block;
    transition: 0.4s ease-out;
}

#reset{
    color: white;
    opacity: 0.5;
}

#reset:hover{
     opacity: 1;
}

#save{
    opacity: 0.7;
}

#save:hover{
    opacity: 1;
}

button:active {
    transform: scale(1.1);
}

.setValue {
    margin-top: 2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.setValue button {
    color: var(--dark);
}

.grid-container {
    background-color: none;

    width: 30rem;
    height: 30rem;

    display: grid;
    grid-template-columns: repeat(10, 3rem ) ;
    grid-template-rows: repeat(10, 3rem );
}